<div data-role="view" data-title="Home" data-layout="main" data-model="APP.models.home">
    <h1 data-bind="html: title"></h1>
    <a id="home-network-button" class="home-button" data-role="button" text-align="center" data-bind="click: checkConnection">Check the status of your connection</a>
    <a id="home-clearstorage-button" class="home-button" data-role="button" text-align="center" data-bind="click: clearLocalStorage">Clear local storage</a>
    <a id="home-seedgps-button" class="home-button" data-role="button" text-align="center" data-bind="click: seedGpsData">Seed GPS data</a>
</div>