<div data-role="view" data-title="Home" data-layout="main" data-model="APP.models.home">
    <h1 data-bind="html: title"></h1>
    <a id="home_network_button" data-role="button" text-align="center" data-bind="click: checkConnection">Check the status of your connection</a>
    <a id="home_clearstorage_button" data-role="button" text-align="center" data-bind="click: clearLocalStorage">Clear local storage</a>
    <a id="home_seedgps_button" data-role="button" text-align="center" data-bind="click: seedGpsData">Seed GPS data</a>
</div>