<div data-role="view" data-title="Track" data-layout="main" data-model="APP.models.track">
    <h2 data-bind="html: title"></h2>
    <p id="start-tracking-status"></p>
    <div data-role="fieldcontain" class="ui-hide-label">
        <label for="track-id">Track ID/Name:</label>
        <input type="text" name="track-id" id="track-id" placeholder="Workout ID/Name"/>
    </div>
    <button data-role="button" id="startTracking-start" data-bind="click: startTracking" data-icon="play">Start Tracking</button>
    <button data-role="button" id="startTracking-stop"  data-bind="click: stopTracking" data-icon="stop" data-align="right">Stop Tracking</button>
</div>