button{
    width: 48%;
    height: 150px;
}
.home-button{
    width: 100%;
    height: 50px;
}
#track-id{
    width: 100%;
    font-size: 20px;
    height: 50px;
}
.ui-hide-label{
    text-align: center;
    font-size: 20px;
}
.history-button{
    width: 48%;
}